<div class="container-fluid p-8">
    <div class="row">
        {{#each cycle}}
        <div class="col-md-4 mx.auto">
            <div class="card  mb-3">
                <div class="card-body">
                    <p>{{name}} </p>
                    <form action="../request-degree/add/" method="post">
                        <div class="form-group">
                            <input required type="hidden" class="form-control" id="cycle_id" name="cycle_id"
                                value="{{id}}">
                        </div>
                        <div class="form-group">
                            <label for="degree_project_name">Nombre del proyecto de grado</label>
                            <input required type="text" class="form-control" id="degree_project_name" name="degree_project_name"
                                value="{{degree_project_name}}" placeholder="Nombre del proyecto">
                        </div>
                        <div class="form-group">
                            <p>
                                <button class="btn btn-primary" role="button">
                                    Solicitar Grado&raquo;
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>Aún no hay Ciclos Propedéuticos registrados</p>
                <a id="reload" href="./">Recargar</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row">

        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Ciclo</th>
                            <th scope="col">Nombre Proyecto de Grado</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha de grado</th>
                            <th scope="col">Fecha de Solicitud</th>
                            <th scope="col" colspan="3">Operación</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each info}}
                        <tr>
                            <td scope="row">{{name}}</td>
                            <td scope="row">{{degree_project_name}}</td>
                            <th scope="row">{{state}}</th>
                            <td>{{degree_date}}</td>
                            <td>{{create_time}}</td>
                            <td>
                                <!--
                            <a href="./edit/{{id}}" class="btn btn col-8">
                                <i class="fas fa-shedule"></i>
                            </a>
                            -->
                            </td>
                            <td>
                                <a href="./edit/{{id}}" class="btn btn col-8">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                        </tr>
                        {{else}}
                        <div class="col-md-4 mx-auto">
                            <div class="card card-body text-center">
                                <p>Aún no hay solicitudes generadas</p>
                                <a id="reload" href="./">Recargar</p>
                            </div>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>