<div class="container-fluid p-8">
    <div class="row">
        {{#if post}}
        <div class="col-md-7 mx.auto">
            <div class="card  mb-3">
                <img class="card-img-top" src="https://source.unsplash.com/user/erondu/200x200" alt="Card image cap">
                <div class="card-body">
                    <p><b>"{{post.name}}" </b></p>

                </div>
                <div class="card-footer">

                    {{#each comment}}
                    <i>{{name}}</i>
                    <p><b>{{text}} </b></p>
                    <hr>
                    {{else}}
                    <p><b>No se encuentran comentarios</b></p>
                    <hr>

                    {{/each}}
                    <form action="{{post.id}}/comment/add/" method="post">
                        <h5>Comentar Públicación</h5>

                        <div class="form-group">
                            <input required type="text" class="form-control" id="text" name="text" value=""
                                placeholder="comentar">
                        </div>
                        <div class="form-group">
                            <p>
                                <button class="btn btn-primary" role="button">
                                    Comentar&raquo;
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No se encuentra informació de este post</p>
                <a id="reload" href="./">Recargar</a></p>
            </div>
        </div>
        {{/if}}


    </div>
</div>